{% extends 'pmanager/base.html' %}
{% block body %}
    <style>
    .col-form-label{
        width: 100%;
    }
</style>
     <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="text-center text-info">إضافة التحديات</h5>
                            <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" novalidate>
                               {% csrf_token %}
                                  {% for foo in mub %}
                                     <input class="form-control" type="hidden" id="mub" name="mub" value="{{ foo.id }}">
                                  {% endfor %}
                                <br>
                                <label for="risk">التحدي</label>
                                <input class="form-control" type="text" id="challenge" value=""  name="challenge">
                                <br>
                                 <label for="owner">المالك</label>
                                <input class="form-control" type="text" id="owner" value=""  name="owner">
                                <br>
                                <label for="status">الحالة</label>
                                <input class="form-control" type="text" name="status" id="status" value="">
                                <br>
                                <label for="info">التفاصيل</label>
                                <textarea rows="4" cols="40" class="form-control"  id="info"   name="info"></textarea>
                                <br>
                                 <button class="btn btn-outline-success col-12" type="submit">حفظ</button>
                            </form>
                        </div>
                    </div>
         </div>
            <div class="col-4"></div>
        </div>
     </div>
    <br>
{% endblock %}
