{% extends 'pmanager/base.html' %}
{% block title %}المبادرات{% endblock %}
{% block body %}

    <div class="center">
         <div class="container">
         <div class="row">
             <div class="col-7">
                 <h3 style="text-align: left">أهداف المبادرة</h3>
             </div>
             <div class="col-4">

                   <a href="{% url 'pmanager:add-goal'   %}">

                    <h6 style="text-align:left; color: #84a0ba; margin-top: 3.5%">إضافة
                        <i class="fas fa-plus"></i>
                    </h6>

                 </a>
             </div>
         </div>

        <br>
        <div class="row">
            <div class="col-8">
                <ul class="list-group">
                    {% for goal in goals %}
                        <div>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-10">
                                    {{ forloop.counter }}- {{ goal.goal }}
                                </div>
                                <div class="col-2">
                                     <form class="inline-group" action="{% url 'pmanager:goal-delete' goal.pk %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="goal_id" value="{{ goal.pk }}">
                                        <button class="btn inline" type="submit" style="background: none; border: none">
                                            <i class="fas fa-trash-alt" style="color: #b21818"></i>
                                        </button>
                                     </form>
                                </div>
                            </div>
                        </li>
                        </div>
                    {% empty %}
                        لا توجد بيانات
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
