{% extends 'pmanager/base.html' %}
{% block title %}المبادرات{% endblock %}
{% block body %}

    <div class="center">
         <div class="container">
         <div class="row">
             <div class="col-7">
                 <h3 style="text-align: left">المخاطر</h3>
             </div>
            <div class="col-4">
                   <a href="{% url 'pmanager:add-risk'   %}">
                    <h6 style="text-align:left; color: #84a0ba; margin-top: 3.5%">إضافة
                        <i class="fas fa-plus"></i>
                    </h6>

                 </a>
             </div>
         </div>

        <br>
        <div class="row">
            <div class="col-12">
                  <table class="table table-responsive-lg">
                            <tr>
                                <td>#</td>
                                <td>الخطر</td>
                                <td>المالك</td>
                                <td>الاحتمالية</td>
                                <td>التأثير</td>
                                <td>خطة التعامل</td>
                                <td>تعديل</td>
                                <td>حذف</td>
                            </tr>
                 {% for risk in risks %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ risk.risk }}</td>
                                <td>{{ risk.owner_risk }}</td>
                                <td>{{ risk.probability }}</td>
                                <td>{{ risk.influence }}</td>
                                <td>{{ risk.plan }}</td>
                                 <td>
                                    <form class="inline-group" action="{% url 'pmanager:update-risk' risk.pk %}" method="get">
                                        {% csrf_token %}
                                        <input type="hidden" name="risk_id" value="{{ risk.pk }}">
                                        <button class="btn inline" type="submit" style="background: none; border: none">
                                            <i class="fas fa-edit" style="color: orange"></i>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form class="inline-group" action="{% url 'pmanager:risk-delete' risk.pk %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="risk_id" value="{{ risk.pk }}">
                                        <button class="btn inline" type="submit" style="background: none; border: none">
                                            <i class="fas fa-trash-alt" style="color: #b21818"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>

                    {% empty %}
                        لا توجد بيانات
                    {% endfor %}
                 </table>
        </div>
    </div>
    </div>

{% endblock %}
